<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Barney</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "my-logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Program Overview", "ProgramOverview", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="adminCanSee" hidden>@Html.ActionLink("Admins", "Index", "Admin")</li>
                    <li class="adminCanSee" hidden>@Html.ActionLink("Syllabuses", "Index", "Syllabus")</li>
                    <li class="adminCanSee" hidden>@Html.ActionLink("Users", "Index", "Users")</li>
                    <li class="adminCanSee" hidden>@Html.ActionLink("Days", "Index", "Days")</li>
                    <li class="studentCanSee" hidden>@Html.ActionLink("Upcoming Class", "DisplayDay", "Home")</li>
                    <li class="studentCanSee" hidden></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Logout", "LogOff", "Account");
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Home");
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Design by Hidden Tyrex Team</p>
        </footer>
    </div>

    @if (TempData["role"] != null)
    {
        <p id="role" hidden>@TempData["role"]</p>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#denied").css("color", "red").fadeOut(5000);
        });


        $(document).ready(function () {
            if ($("#role").html() === "Admin") {
                $(".adminCanSee").show();
                $(".studentCanSee").hide();
            }
            else if ($("#role").html() === "Student") {
                $(".studentCanSee").show();
                $(".adminCanSee").hide();
            }
            else {
                $(".adminCanSee").hide();
                $(".studentCanSee").hide();
            }
        });

    </script>
</body>
</html>
