@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p class="lead">Date/</p>
        </dt>

        <dd>
            <pre>@ViewBag.day.Date.ToShortDateString()</pre>
        </dd>

        <dt>
            <p class="lead">Location/</p>
        </dt>

        <dd>
            <pre>@ViewBag.day.Location</pre>
        </dd>

        <dt>
            <p class="lead">Wi-Fi/</p>
        </dt>

        <dd>
            <pre>@ViewBag.day.Wifi</pre>
        </dd>

        <dt>
            <p class="lead">Topics/</p>
        </dt>

        <dd>
            <pre>@ViewBag.day.Topics</pre>
        </dd>

        <dt>
            <p class="lead">Labs/</p>
        </dt>

        <dd>
            <pre>@ViewBag.day.Labs</pre>
        </dd>

        <dt>
            <p class="lead">Homework/</p>
        </dt>

        <dd>
            <pre>@ViewBag.day.NextClass</pre>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "LearningPlan", null, new { @class = "btn btn-primary btn-sm" })
</p>
