@model IEnumerable<BarneyGo.Models.Day>

@{
    ViewBag.Title = "DisplayDay";    
}
<div class="row">
    <div class="col-md-12" style="text-align: center"><h1>Welcome, @ViewData["userName"]</h1></div>
</div>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4" style="text-align:right"><h3>Today is @ViewBag.today</h3></div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <p class="lead">Next class date/</p>
        <blockquote>
            <pre>@ViewBag.currentDay.Date.ToShortDateString()</pre>
        </blockquote>
    </div>
    <div class="col-md-6">
        <p class="lead">Location/</p>
        <blockquote>
            <pre>@ViewBag.currentDay.Location</pre>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="lead">Wi-Fi/</p>
        <blockquote>
            <pre>@ViewBag.currentDay.Wifi</pre>
        </blockquote>
    </div>
    <div class="col-md-6">
        <p class="lead">Topics/</p>
        <blockquote>
            <pre>@ViewBag.currentDay.Topics</pre>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="lead">Labwork/</p>
        <blockquote>
            <pre>@ViewBag.currentDay.Labs</pre>
        </blockquote>
    </div>
    <div class="col-md-6">
        <p class="lead">Homework/</p>
        <blockquote>
            <pre>@ViewBag.currentDay.NextClass</pre>
        </blockquote>
    </div>
</div>



@section scripts
{
<script>
    $(document).ready(function () {
        $(".adminCanSee").hide();
        $(".studentCanSee").show();
    });    
</script>
}