
@{
    ViewBag.Title = "LearningPlan";
}

<h2>LearningPlan</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Location
        </th>
        <th>
            Wi-Fi
        </th>
        <th>
            Topics
        </th>
        <th>
            Labs
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.days) {
    <tr>
        <td>
            @item.Date.ToShortDateString()
        </td>
        <td>
            @item.Location)
        </td>
        <td>
            @item.Wifi)
        </td>
        <td>
            @item.Topics)
        </td>
        <td>
            @item.Labs)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
