@model BarneyGo.Models.Day

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Syllabus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Syllabus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Labs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextClass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
